@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

body {
	background-color: #001b00;
}
h1{
	color: white;
	font-family: 'Crimson Text', serif;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	margin: 2em;
}
p {
	color: white;
	font-family: 'EB Garamond', serif;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
}

#slogan{
	font-style: italic;
	font-weight: normal;
	text-decoration: none;
}



li{
	color: white;
	text-align: center;
	line-height: 1.5em;
}
ul{
	text-align: center;
	list-style-type: none;
}




a{
	text-decoration: none;
	color:white;
}
